.side-components{
    float: left;
    
    margin: 5px;
    }
    
    .create-posts{
    float: left;
    margin: 2%;
    width: 50%;
    
    }
    #uploadBannerImage{
      display: none;
    }
    
    
      .customModal {
      
       min-height: 60vh;
        width: 100%;
      }

      .product-details{
        height: 250px; /* Sets the height */
        width: 300px;
        display: block;
        
       margin-left: 0%;
        
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        margin: 10px;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .slots{
          margin: 10%;
      }